.controls {
  transition: opacity 150ms ease;
  opacity: 0;
}

.root {
  height: 100%;
  &:hover {
    .controls {
      opacity: 1;
    }
  }
}

.control {
  &[data-inactive] {
    opacity: 0;
    cursor: default;
  }
}

.indicator {
  width: 8px;
  height: 8px;
  transition: width 250ms ease;

  &[data-active] {
    background-color: 'white';
  }
}
.indicators {
  gap: 0.75rem;
}

.slide {
  border-radius: 12px;
  overflow: hidden;
  background: --tw-bg-opacity;
  background-color: rgb(209 213 219 / var(--tw-bg-opacity));
}
